
<div class="row">
	<div class="col-md-12">
		<div class="section-title">
			<h2>定位结果</h2>
		</div>
	</div>
</div>
<div class="row">
	{% for clip in clips %}
		<div class="col-sm-12 col-lg-4">
			<!-- product card -->
			<div class="product-item bg-light">
				<div class="card">
					<div class="thumb-content">
						<video  class="clip" controls="controls" >
							<source src="/static/clip/{{ clip['name'] }}" type="video/mp4" />
						</video>
					</div>
					<div class="card-body">
						<h4 class="card-text">score:{{ clip['score'] }}</h4>
						<h4 class="card-text">duration:{{ clip['left'] }} - {{ clip['right'] }}</h4>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
</div>

